/* ==========================================================================
   # ERROR
   ========================================================================== */

// Block
.c-error {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: spacing("base");

  &__status {
    @include inuit-font-size(120px);
    color: $color-grey;
    font-family: $font-family-decoration;
  }

  &__title {
    margin-bottom: spacing();
  }
}
