/* ==========================================================================
   # SETUP CONNECTION LIST
   ========================================================================== */

.c-setup-connection-list {
  display: block;
  overflow: auto;
  max-height: 100%;

  &__connection {
    margin-bottom: spacing('tiny');
    padding: spacing('small');
    border-radius: spacing('tiny');
    background-color: $color-white;
    color: $color-black;
  }
}
