/* ==========================================================================
   # APPLICATION NOTIFICATION
   ========================================================================== */

.c-application-notification {
  position: relative;
  display: flex;
  margin-bottom: spacing("tiny");
  padding: spacing("small");
  max-width: 500px;
  border-radius: spacing("tiny");
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 spacing("large") rgba($color-black, 0.4);

  &--type-warning {
    background-color: $color-warning;
    color: $color-white;
  }

  &--type-success {
    background-color: $color-success;
    color: $color-white;
  }

  &--is-exiting {
    opacity: 0;
    transform: translateX(200%);
  }

  &__close {
    position: absolute;
    top: spacing("tiny");
    right: spacing("tiny");
  }

  &__icon {
    margin-right: spacing("small");
    width: spacing("base");
    height: spacing("base");
  }

  &__content {
    display: block;
  }

  &__message {
    margin-bottom: spacing("small");
    padding-right: spacing("small-tiny");
  }

  &__progress {
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: spacing("tiny");
    background-color: rgba($color-black, 0.2);
  }

  &__bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    border-radius: spacing("tiny");
    background-color: $color-white;
    transition-timing-function: ease-in-out;
    transition-duration: 4000ms;
    transition-property: width;
  }

  &__bar--is-active {
    width: 100%;
  }
}
