/* ==========================================================================
   # APPLICATION CONFIRM MODAL
   ========================================================================== */

.c-application-confirm-modal {
  padding: spacing();

  &__title {
    margin-bottom: spacing("small");
  }

  &__message {
    margin-bottom: spacing();
  }
}
