/* ==========================================================================
   # UI BUTTON
   ========================================================================== */

.c-ui-button {
  all: initial;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: spacing('base-small');
  min-height: spacing('base-small');
  vertical-align: bottom;
  transition: background-color $transition-base;

  &__icon {
    flex-shrink: 0;

    fill: currentColor;
  }

  &__icon--has-label {
    margin-right: spacing('tiny');
  }

  &__label {
    flex-grow: 1;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;

    @include inuit-font-size($font-size-small);
  }


  // Primary
  &--style-primary {
    padding: spacing('tiny') spacing('base');
    border-radius: spacing('small-tiny');
    background-color: $color-primary;
    color: $color-white;
    text-align: center;

    @include attention() {
      background-color: $color-primary-dark;
    }
  }


  // Secondary
  &--style-secondary {
    padding: spacing('tiny') spacing('base');
    border-radius: spacing('small-tiny');
    background-color: $color-grey-dark;
    color: $color-white;
    text-align: center;

    @include attention() {
      background-color: darken($color-grey-dark, 10%);
    }
  }


  // Danger
  &--style-danger {
    padding: spacing('tiny') spacing('base');
    border-radius: spacing('small-tiny');
    background-color: $color-error;
    color: $color-white;
    text-align: center;

    @include attention() {
      background-color: $color-error-dark;
    }
  }


  // Inline
  &--style-inline {
    padding: 0 spacing('tiny');
    min-width: spacing('base');
    min-height: spacing('base');
    border-radius: spacing('tiny');
    color: inherit;
    text-align: center;

    @include attention() {
      background-color: rgba($color-grey, 0.5);
    }

    &[is-active] {
      background-color: $color-active;
      color: $color-white;
    }
  }


  // Outline
  &--style-outline {
    padding: spacing('tiny', - $border-width-small);
    border: $border-width-small solid $color-grey;
    border-radius: spacing('small-tiny');
    color: inherit;
    text-align: center;

    @include attention() {
      background-color: $color-grey-light;
    }
  }


  // Disabled
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
